.background {
	stroke: black;
	fill: none;
}

#neighborhoods {
	fill: #cde;
	stroke: #fff;
	stroke-linejoin: round;
	stroke-linecap: round;
	cursor: pointer;
}

.stops {
  fill: #036;
  stroke: #6cb0e0;
  stroke-width: 0.5px;
  stroke-linecap: round;
  stroke-linejoin: round;
  vector-effect: non-scaling-stroke;
}

.inbound {
	fill: green;
}

.outbound {
	fill: red;
}